body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 40px 100px;

}

.top-bar{
    display: flex;
    justify-content: space-between;
}

.top-bar img{
    width: 200px;
}
.header {
    text-align: left;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    background-color: #f2f2f2;
    padding: 10px;
    border-left: 5px solid #333;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

.section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.section table, .section th, .section td {
    border: 1px solid #ddd;
}

.section th, .section td {
    padding: 8px;
    text-align: left;
}

.section th {
    background-color: #f2f2f2;
}

.reference {
    margin-bottom: 20px;
}
