*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

.common-width{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FEFEFE;
}

header{
    height: 105px;

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;

}

.nav-link{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
    padding: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #15253f;
}

.logo img{
    border-radius: 50%;
    width: 30px;
}

/* header end */

.hero {
    position: relative;
    height: 684px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('hero.webp') no-repeat center center/cover;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(21, 37, 63, 0.5); 
    z-index: 1;
}

.hero .content {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.hero .heading {
    margin-bottom: 20px;
    font-size: 64px;
    font-weight: 700;
    margin: 0 100px;
    margin-bottom: 30px;
}

.hero .btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

}

 .btn {
    background-color: #fff;
    color: #15253f;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    flex-basis: auto;

}

.btn-right{
    background-color: #15253f;
    color: #fff;
}

.hero .btn-left:hover {
    background-color: #15253f;
    color: red;
}
.btn-right:hover{
    background-color: #fff;
    color: red;
}

/* end of hero section */

.trusted-companies {
    text-align: center;
    margin: 130px;
}

.trusted-companies p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.trusted-companies .logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.trusted-companies .logos img {
    max-height: 40px;
}

.info-section {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0 130px;
    /* flex-wrap: wrap; */
}

.info-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.info-text {
    max-width: 600px;
}

.info-text h2 {
    font-size: 2rem;
    color: #15253f;
    margin-bottom: 20px;
}

.info-text p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
}


.learn-more-btn:hover {
    outline: 1px solid #15253f;
}