*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
}

.bg_black{
    background-color: #000;
    height: 80px;
    color: #fff;
}
.common_width{
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

nav, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}

ul li{
    list-style-type: none;
    margin-left: 30px;
}

ul li a{
    text-decoration: none;
    color: #DBB783;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.header_button{
    margin: 20px 0;
    filter: drop-shadow(1px 1px 0px #e2cb84);
    background-color: #b82026;
    padding: 0 10px;

}
.header_button a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 5px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;


}
span{
    margin-left: 30px;
    color: #DBB783;
}



